  
  .sections > div {
    vertical-align: top;
    height: 750px;
    padding-left: 10px;
  }
  .left,
  .middle {
    display: table-cell;
    height: 80vh;
    box-sizing: border-box;
  }
  .left {
    width: 40%;
    background: transparent;
  }
  
  .middle {
    overflow: auto;
    position: relative;
  }
  
  .in-middle {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    left: 0;
  }
  .in-in-middle {
    height: 760px;
  }
  
  
  .left img {
    transition: all 0.5s;
    margin-top: 53%;
  }

  .middle::-webkit-scrollbar {
    display: none;
  }
  
.rightsec-road h3{
    color: #fff;
    font-size: 26px;
    letter-spacing: 1px;
}
.road-heads h1{
    color: #fff;
}
div#\32::-webkit-scrollbar,div#\31::-webkit-scrollbar {
  width: 0 !important;
}
/* .anim-list ul{
  padding-left: 0rem !important;

} */




@media(min-width:981px){
.anim-list ul{
    width: 645px;
}

}
.rgt-sec{
    flex: 0 0 auto;
    width: 3.333333% !important;
}
@media screen and (max-width: 767px){
  .in-in-middle{
    height: 850px;
  }
  .in-in-middle.three{
    height: 1024px !important;
  }
  .container, .container-sm{
    max-width: 1024px !important;
    max-width: auto;
}
  .rightsec-road h3{
    font-size: 17px;
  }
  .anim-list ul {
    padding-left: 11px !important;
}
  .road-heads h1 {
    font-size: 2.5rem;
}
.road-heads{
  display: block !important;
}
.left{
  padding-left: 0px !important;
}
.Typewriter__wrapper{
  letter-spacing: 0px;
}
.left img{
  height: 25%;
}
#right-flex{
  justify-content: center;
}
.react-multi-carousel-list{
  height: 488px;
}
.react-multi-carousel-track{
  height: 480px;
}
.aft-head{
  letter-spacing: 8px;
}
.twoh-div{
  padding: 3px 5px 10px;
}
.roadmap-sections{
  padding: 15px 0px;
}
.head-one h2{
  font-size: 17px !important;
}
.sections .in-middle{
  padding-left: 7px !important;
}
.card-info{
  font-size: 14px;
}
.bottom-scroll.scroll-img{
  top: 3px;
}
}


@media screen and (max-width: 1024px) and (min-width: 768px){
  
.container, .container-sm{
    max-width: 1024px !important;
    max-width: auto;
}
.in-in-middle{
  height: auto;
}
.road-heads h1 {
  font-size: 40px;
}
.rightsec-road h3{
  font-size: 20px;
}
.left{
  padding-left: 0px !important;
}
.react-multi-carousel-list{
  height: 460px;
}
.react-multi-carousel-track{
  height: 410px;
}
.spi-verti img{
  max-width: 115px;
}
.twoh-div{
  padding: 3px 5px 10px;
}
.card-info{
  font-size: 13px;
}
.head-one h2{
  font-size: 18px;
}
.aft-head{
  letter-spacing: 12px;
}
}

@media screen and (max-width: 766px) and (min-width: 300px){
  .in-in-middle{
    height: auto !important;
    margin-left: 5px;
  }
  .left{
    padding-left: 0px !important;
  }
  .Typewriter__wrapper{
    letter-spacing: 0px;
  }
  .info-para{
    line-height: 19px;
  }
  .anim-list ul li{
    font-size: 12px;
  }
  .anim-div{
    border: 4px solid #fff;
  }
}
@media screen and (max-width: 991px) and (min-width: 900px){
  .abt-left{
    display: flex !important;
    justify-content: center !important;
  }
  .carouselItem{
    padding: 0px 25px !important;
  }
  #right-flex{
    justify-content: center;
  }
  .left-img{
    justify-content: center;
    margin-left: -116px;
  }
}



/* Test CSS */
